
<html>
    <head>
      <link rel="stylesheet" href="/static/main.css">
      <link rel="stylesheet" href="/static/bootstrap.min.css">
    </head>

    <body>
        <div class="header">
          <h1>C'est le vin</h1>
        </div>

        <form class="form-inline global-search">
          <section class="colors">
            <h3>Choose your wine color:</h3>
            <br><br>
            <input type="radio" id="Red" name="color" value="Red">
            <label for="Red">Red</label>
            <input type="radio" id="White" name="color" value="White">
            <label for="White">White</label>
            <input type="radio" id="Rose" name="color" value="Rose">
            <label for="Rose">Rosé</label>
          </section>

          <br><br>
          <section class="flavors">
            <h3>Add your flavors:</h3>
            <br><br>
            <input type="checkbox" id="Dry" name="flavor[]" value="dry">
            <label for="Dry">Dry</label>
            <input type="checkbox" id="Sweet" name="flavor[]" value="sweet">
            <label for="Sweet">Sweet</label>
            <input type="checkbox" id="Fruity" name="flavor[]" value="fruity">
            <label for="Fruity">Fruity</label>
            <input type="checkbox" id="Earthy" name="flavor[]" value="earthy">
            <label for="Earthy">Earthy</label>
            <input type="checkbox" id="Spicy" name="flavor[]" value="spicy">
            <label for="Spicy">Spicy</label>
          </section>

          <br><br>
          <section class="Flavor1">
    				<label for="Flavor_1">other flavors</label>
            <br>
    				<input name="Flavor_1" list="flavours" class="form-control" style="width:200px;" placeholder="(optional)">
            <br>
    				<datalist id="flavours">
      				<option value="Dry" />
      				<option value="cherry" />
      				<option value="oak" />
      				<option value="spice" />
      				<option value="berry" />
      				<option value="plum" />
      				<option value="apple" />
      				<option value="citrus" />
      				<option value="vanilla" />
      				<option value="peach" />
      				<option value="chocolate" />
      				<option value="raspberry" />
      				<option value="ripe" />
      				<option value="oak" />
      				<option value="fresh" />
      				<option value="rich" />
      				<option value="dry" />
      				<option value="soft" />
      				<option value="apple" />
      				<option value="fruits" />
      				<option value="sweet" />
      				<option value="crisp" />
      				<option value="blackberry" />
      				<option value="light" />
      				<option value="texture" />
      				<option value="dark" />
      				<option value="citrus" />
      				<option value="pepper" />
      				<option value="lemon" />
      				<option value="fruity" />
      				<option value="balanced" />
      				<option value="pear" />
      				<option value="smooth" />
      				<option value="herb" />
      				<option value="tannic" />
      				<option value="lime" />
      				<option value="orange" />
      				<option value="creamy" />
      				<option value="toast" />
      				<option value="leather" />
      				<option value="tobacco" />
      				<option value="richness" />
      				<option value="freshness" />
      				<option value="complex" />
      				<option value="young" />
      				<option value="aging" />
      				<option value="smoky" />
      				<option value="lively" />
      				<option value="melon" />
      				<option value="strawberry" />
      				<option value="coffee" />
      				<option value="grapefruit" />
      				<option value="cola" />
      				<option value="honey" />
      				<option value="pineapple" />
      				<option value="tropical" />
      				<option value="floral" />
      				<option value="apricot" />
      				<option value="cinnamon" />
      				<option value="refreshing" />
      				<option value="bitter" />
      				<option value="zest" />
      				<option value="cranberry" />
      				<option value="blueberry" />
      				<option value="grapes" />
      				<option value="rose" />
      				<option value="dusty" />
      				<option value="exotic" />
      				<option value="velvety" />
    				</datalist>
          </section>

          <br>
          <section class="variety">
            <h3>Enter a wine variety you enjoy:</h3>
            <br><br>
            <select id="varieties" name="variety" style="width:200px;" placeholder="variety">
              <option value="" selected disabled hidden>Variety (optional)</option>
              <option value="Pinot Noir">Pinot Noir</option>
              <option value="Chardonnay">Chardonnay</option>
              <option value="Cabernet Sauvignon">Cabernet Sauvignon</option>
              <option value="Red Blend">Red Blend</option>
              <option value="Bordeaux-style Red Blend">Bordeaux-style Red Blend</option>
              <option value="Riesling">Riesling</option>
              <option value="Sauvignon Blanc">Sauvignon Blanc</option>
              <option value="Syrah">Syrah</option>
              <option value="Rosé">Rosé</option>
              <option value="Merlot">Merlot</option>
              <option value="Nebbiolo">Nebbiolo</option>
              <option value="Zinfandel">Zinfandel</option>
              <option value="Sangiovese">Sangiovese</option>
              <option value="Malbec">Malbec</option>
              <option value="Portuguese Red">Portuguese Red</option>
              <option value="White Blend">White Blend</option>
              <option value="Sparkling Blend">Sparkling Blend</option>
              <option value="Tempranillo">Tempranillo</option>
              <option value="Rhône-style Red Blend">Rhône-style Red Blend</option>
              <option value="Pinot Gris">Pinot Gris</option>
              <option value="Champagne Blend">Champagne Blend</option>
              <option value="Cabernet Franc">Cabernet Franc</option>
              <option value="Grüner Veltliner">Grüner Veltliner</option>
              <option value="Portuguese White">Portuguese White</option>
              <option value="Bordeaux-style White Blend">Bordeaux-style White Blend</option>
              <option value="Pinot Grigio">Pinot Grigio</option>
              <option value="Gamay">Gamay</option>
              <option value="Gewürztraminer">Gewürztraminer</option>
              <option value="Viognier">Viognier</option>
              <option value="Shiraz">Shiraz</option>
              <option value="Petite Sirah">Petite Sirah</option>
              <option value="Sangiovese Grosso">Sangiovese Grosso</option>
              <option value="Barbera">Barbera</option>
              <option value="Glera">Glera</option>
              <option value="Port">Port</option>
              <option value="Grenache">Grenache</option>
              <option value="Corvina, Rondinella, Molinara">Corvina, Rondinella, Molinara</option>
              <option value="Chenin Blanc">Chenin Blanc</option>
              <option value="Tempranillo Blend">Tempranillo Blend</option>
              <option value="Carmenère">Carmenère</option>
              <option value="Albariño">Albariño</option>
              <option value="Pinot Blanc">Pinot Blanc</option>
              <option value="Rhône-style White Blend">Rhône-style White Blend</option>
              <option value="Nero d'Avola">Nero d'Avola</option>
              <option value="Aglianico">Aglianico</option>
              <option value="Moscato">Moscato</option>
              <option value="Garnacha">Garnacha</option>
              <option value="Sauvignon">Sauvignon</option>
              <option value="Verdejo">Verdejo</option>
              <option value="Melon">Melon</option>
              <option value="Garganega">Garganega</option>
              <option value="Petit Verdot">Petit Verdot</option>
              <option value="Meritage">Meritage</option>
              <option value="Torrontés">Torrontés</option>
              <option value="Prosecco">Prosecco</option>
              <option value="Blaufränkisch">Blaufränkisch</option>
              <option value="Vermentino">Vermentino</option>
              <option value="Mourvèdre">Mourvèdre</option>
              <option value="Primitivo">Primitivo</option>
              <option value="Montepulciano">Montepulciano</option>
              <option value="Zweigelt">Zweigelt</option>
              <option value="Touriga Nacional">Touriga Nacional</option>
              <option value="Pinot Nero">Pinot Nero</option>
              <option value="G-S-M">G-S-M</option>
              <option value="Dolcetto">Dolcetto</option>
              <option value="Mencía">Mencía</option>
              <option value="Tannat">Tannat</option>
              <option value="Roussanne">Roussanne</option>
              <option value="Tinta de Toro">Tinta de Toro</option>
              <option value="Verdicchio">Verdicchio</option>
              <option value="Turbiana">Turbiana</option>
              <option value="Pinot Bianco">Pinot Bianco</option>
              <option value="Fiano">Fiano</option>
              <option value="Monastrell">Monastrell</option>
              <option value="Vernaccia">Vernaccia</option>
              <option value="Pinotage">Pinotage</option>
              <option value="Grillo">Grillo</option>
              <option value="Alvarinho">Alvarinho</option>
              <option value="Sémillon">Sémillon</option>
              <option value="Muscat">Muscat</option>
              <option value="Grenache Blanc">Grenache Blanc</option>
              <option value="Friulano">Friulano</option>
              <option value="Greco">Greco</option>
              <option value="Nerello Mascalese">Nerello Mascalese</option>
              <option value="Cabernet Sauvignon-Merlot">Cabernet Sauvignon-Merlot</option>
              <option value="Viura">Viura</option>
              <option value="Bonarda">Bonarda</option>
              <option value="Sagrantino">Sagrantino</option>
              <option value="Rosato">Rosato</option>
              <option value="Cabernet Sauvignon-Syrah">Cabernet Sauvignon-Syrah</option>
              <option value="Tinto Fino">Tinto Fino</option>
              <option value="Sherry">Sherry</option>
              <option value="Malbec-Merlot">Malbec-Merlot</option>
              <option value="St. Laurent">St. Laurent</option>
              <option value="Falanghina">Falanghina</option>
              <option value="Ribolla Gialla">Ribolla Gialla</option>
              <option value="Arneis">Arneis</option>
              <option value="Godello">Godello</option>
              <option value="Lagrein">Lagrein</option>
              <option value="Negroamaro">Negroamaro</option>
      			</select>
          </section>

          <br>
    			<input type="checkbox" id="varietyfilter" name="varietyfilter" value="1">
          <label class ="variety" for="varietyfilter">Only give me results for this wine variety</label>


    			<br><br>
          <section class="country">
      			<h3>Choose a wine region</h3>
            <br><br>
            <!--
      			<input name="Country" list ="countries" class="form-control" style="width:200px;" placeholder="(optional)">
          -->
            <select id="Country" name="Country" style="width:200px;">
              <option value="" selected disabled hidden>country (optional)</option>
              <option value="US">US</option>
              <option value="France">France</option>
              <option value="Italy">Italy</option>
              <option value="Spain">Spain</option>
              <option value="Portugal">Portugal</option>
              <option value="Chile">Chile</option>
              <option value="Argentina">Argentina</option>
              <option value="Austria">Austria</option>
              <option value="Australia">Australia</option>
              <option value="Germany">Germany</option>
              <option value="New Zealand">New Zealand</option>
              <option value="South Africa">South Africa</option>
              <option value="Israel">Israel</option>
              <option value="Greece">Greece</option>
              <option value="Canada">Canada</option>
              <option value="Hungary">Hungary</option>
              <option value="Bulgaria">Bulgaria</option>
              <option value="Romania">Romania</option>
              <option value="Uruguay">Uruguay</option>
              <option value="Turkey">Turkey</option>
              <option value="Slovenia">Slovenia</option>
              <option value="Georgia">Georgia</option>
              <option value="England">England</option>
              <option value="Croatia">Croatia</option>
              <option value="Mexico">Mexico</option>
              <option value="Moldova">Moldova</option>
              <option value="Brazil">Brazil</option>
              <option value="Lebanon">Lebanon</option>
              <option value="Morocco">Morocco</option>
              <option value="Peru">Peru</option>
              <option value="Ukraine">Ukraine</option>
              <option value="Serbia">Serbia</option>
              <option value="Macedonia">Macedonia</option>
              <option value="Czech Republic">Czech Republic</option>
              <option value="Cyprus">Cyprus</option>
              <option value="India">India</option>
              <option value="Switzerland">Switzerland</option>
              <option value="Luxembourg">Luxembourg</option>
              <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
              <option value="Armenia">Armenia</option>
              <option value="Egypt">Egypt</option>
              <option value="Slovakia">Slovakia</option>
              <option value="China">China</option>
      			</select>
          </section>


          <br></br>
          <section class="rating">
            <label for="rating">Enter a Min Rating (0-100):</label>
            <input class="mininput"type="number" name="rating" id="rating" min="0" max="100" placeholder="(optional)">
          </section>

          <br><br>
          <section class="price range">
        		<label for="MaxPrice">Enter a Max Price:</label>
        		<input type="number" name="MaxPrice" min="5" placeholder="(optional)">
          </section>

  		    <br></br>
          <section class="submission">
            <button type="submit" class="btn btn-info"> Submit! </button>
          </section>
        </form>

        {% if flag %}
    			<h3 align = "center">No results found</h3>
    		{% endif %}

        {% if data %}
        <h2 style="text-align:center;">{{output_message}}</h2> <br>
          <div class="table_style">
            <table class="th">
              <thead>
                <tr>
                  <th>Sim Score</th>
                  <th>Wine Title</th>
                  <th>Country</th>
                  <th>Critic Rating</th>
                  <th>Price</th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="table_style">
            {% for d in data %}
              <table class="tm">
                <tbody>
                  <tr>
                    <td>{{d[2]}}</td>
                    <td><a href="https://www.winemag.com/?s={{d[0]}}" target="_blank">{{d[0]}}</a></td>
                    <td>{{d[5]}}</td>
                    <td>{{d[4]}}</td>
                    <td>${{d[1]}}</td>
                  </tr>
                  <tr>
                    <td colspan="5"><em>{{d[3]}}</em></td>
                  </tr>
                </tbody>
              </table>
            {% endfor %}
          </div>
        {% endif %}

		 <div class="footer">
            <p>&copy; 2019 | Akshay Agarwal, Collin Farquhar, Sreenath GV, Hanjun Jiang</p>
     </div>
    </body>

</html>
